
body {
	font-family: arial, sans-serif;
	color: #ffffff;
	font-size: 16px;
	background-color: #000;
/*
	background-image: url(../css/img/15674961512_65fd49abe7_k.jpg) no-repeat center center fixed;
	background-size: contain;
*/
	height: 100%;
}

h1, h2 {
	font-family: 'megrim', 'kaushan', sans-serif;
	font-weight: 400;
	font-weight: bolder;
	letter-spacing: .05em;
	font-size: 1.4em;
	margin: 6px;
}

h3, h4, div, input {
	font-family: 'megrim', 'kaushan', sans-serif;
	font-weight: bolder;
	font-size: 1em;
	margin: 0;
}

li {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul {
	padding: 0px;
	list-style-type: none;
}

a {
	color: #fff;
	text-decoration: none;
}

footer {
	text-align: right;
	padding-right: 12px;
}

.wrapper {
/*	background-image: url(../css/img/15674961512_65fd49abe7_k.jpg);*/
/*	background-size: cover;*/
/*	height: 100%;*/
	padding-bottom: 70%;
	background: -webkit-linear-gradient(rgba(59, 58, 58, 0.5), rgba(0, 0, 0, 0.5));
	background: linear-gradient(rgb(15, 20, 46), rgba(0, 0, 0, 0.5));
}

/*

.wrapper-2 {
	background: -webkit-linear-gradient(rgba(59, 58, 58, 0.5), rgba(0, 0, 0, 0.5));
	background: linear-gradient(rgb(15, 20, 46), rgba(0, 0, 0, 0.5));
	overflow: hidden;
}
*/

/*-----------------------*/
/*   PLACEHOLDER STYLES   */
/*-----------------------*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgba(64, 64, 64, 0.8);
/*	font-size: 1em;*/
	padding-top: 2px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 	color:    rgba(92, 91, 91, 0.8);
  opacity:  .8;
/*	font-size: 1em;*/
	padding-top: 2px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    rgba(92, 91, 91, 0.8);
  opacity:  .8;
/*	font-size: 1em;*/
	padding-top: 2px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #rgba(92, 91, 91, 0.8);
/*	font-size: 1em;*/
	padding-top: 2px;
}

/*-----------------------*/
/*   CONTAINER STYLES   */
/*-----------------------*/

.clear {
	clear: both;
	display: block;
}

.wrapper {
	width: 880px;
	height: auto;
	margin: 0 auto;
}

.profile {
	width: 245px;
	height: 100%;
	float: left;
	display: inline-block;
/*	background-color: rgba(208, 208, 208, 0.2);*/
}

.main {
	width: 595px;
	height: 100%;
	display: inline-block;
	float: left;
/*	background-color: bisque;*/
}

.profile .content, 
.main .content,
.sidebar .content {
	width: 100%;
	padding-bottom: 3em;
	text-align: left;
}

/*-----------------------*/
/*   PROFILE SECTION   */
/*-----------------------*/

.profile .avatar img {
	margin: 2em;
	width: 10em;
	border-radius: 50%;
}

.profile .description h2 {
	font-size: 1.5em;
	margin-top: 52px;
	text-align: center;
}

.profile .description h3 {
	padding: .5em 1.7em;
	text-align: center;
}

/*-----------------------*/
/*     MAIN SECTION   */
/*-----------------------*/


/*---- LIST-HEADIING STYLES ----*/

.main .list-heading {
	width: 550px;
	margin: 3em auto 2em;
	padding-bottom: 1em;
	overflow: auto;
	text-align: center;
}

.main .list-heading h2 {
	margin-bottom: 16px;
}

.main .list-heading input.add-item-name {
	width: 350px;
	height: 28px;
	font-size: 1em;
	font-weight: bolder;
	padding: 0 10px;
	margin-bottom: .3em;
	color: #000;
}

.main .list-heading input.add-item-price {
	height: 28px;
	width: 180px;
	font-size: 1em;
	padding: 0 10px;
	font-weight: bolder;
	float: left;
	margin-bottom: .3em;
	color: #000;
}

.list-heading .add-item {
	width: 400px;
	text-align: left;
	margin: auto;
	color: rgba(70, 82, 82, 0.45);
}

.main .list-heading button {
	padding: 8px 40px;
	background-color: #35cc11;
	border: none;
	display: inline-block;
	float: right;
	margin: .1% 18.5% 0 0;
	font-size: 14px;
}

/*---- SHOPPING LIST ITEMS ----*/

/*  COME BACK AND MODIFY TABLE*/
.table { 
	width: 100%;
	height: 200px;
	display: table;
	letter-spacing: .05em;
	margin: 0 auto;
	border-spacing: 0 2px;
}

.thead-shopping,
.thead-purchases {
	width: 100%;
	font-size: 1.1em;
	text-transform: capitalize;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}

.thead-shopping li,
.thead-purchases li {
	text-align: center;
}

.tbody-shopping .tr,
.tbody-purchases .tr {
	background-color: #35cc11;
	margin: 2px;
	height: 34px;
}

.td,
.col {
	display: table-cell;
	padding: 3px 0px;
	vertical-align: middle;
}

.content .tbody-shopping input,
.content .tbody-purchases input {
	display: table-cell;
	text-align: right;
	vertical-align: bottom;
	font-size: 1em;
	border: none;
	color: #000;
	background-color: transparent;
	cursor: pointer;
}

.tbody-shopping ul:last-child,
.tbody-purchases ul:last-child {
	margin-bottom: 20px;
}

.col-item-description,
.td-item-description-input,
.td-item-description {
	width: 372px;
	text-align: center!important;
	padding-left: 12px;
}

.td-item-price-input,
.td-item-price,
.td-item-total-input,
.td-item-total{
	width: 70px;
}

.col-price,
.col-total,
.col-spent {
	width: 90px;
}

.col-qty-input,
.col-qty {
	width: 40px;
}

.tbody-shopping ul,
.tbody-purchases ul {
	width: 590px;
	padding: 2px;
}

.ui-sortable-handle {
	background-color: transparent;
}

#sortable1,
#sortable2,
#sortable3 {
	min-height: 5px;
}

/*--------------------------------
/*  PURCHASED ITEMS  */
/*--------------------------------*/

.items-purchased {
	margin-left: 15%;
}

.total-spent,
.total-all {
	padding-right: 12px;
	text-align: right;
}

.total-spent h3 {
	display: block;
	height: 55px;
	margin-left: 6px;;
	width: 580px;
	font-size: 1.3em;
}

.total-all h3 {
	color: #fff;
	float: right;
	font-weight: bolder;
	display: block;
	width: 50%;
	font-size: 1.3em;
	padding: 6px 0 12px;
}

.total-all img {
	display: inline-block;
/*
	background-color: rgba(248, 38, 0, 0);
	transition: background-color .5s;
*/
	float: left;
	padding: 6px 10px;
	width: 34px;
	height: 34px;
	border: 1px solid rgba(88, 87, 87, 0.4);
	margin-top: -6px;
	z-index: 99;
}

.total-all {
	display: block;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #bebebe;
	margin-bottom: 40px;
}

/*div { outline: 1px solid #f00; }*/

/*--------------------------------*/
/*  TABLE :HOVER EFFECTS */
/*--------------------------------*/

.tr:hover,
.tr-purchases:hover {
	background-color: rgb(250, 255, 249);
	transition: background-color .6s;
}

.total-all img:hover {
/*
	background-color: rgba(248, 38, 0, 0);
	transition: background-color .5s;
*/
	cursor: pointer;
}

.list-heading button:hover {
	background-color: rgb(39, 137, 16);
	transition: background-color .6s;
}

a:hover {
	background-color: #f82600;
	transition: background-color .5s;
	cursor: pointer;
}



